.login_btn {
  color: white !important;
}

.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: var(--principal) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
#checkLogin {
  border-radius: 0 !important;
  border: 0.125rem solid #666;
  cursor: pointer;
  box-shadow: none;
}
#checkLogin:checked {
  border: transparent;
  background-color: var(--principal);
}
