.card-title {
    font-weight: bold;
    font-size: large;
}
article .card{
    border: 1.5px solid var(--principal);
    transition: 0.5;
    transition: background-color 0.2s ease;

}
article .card:hover {
border-color: var(--acento);
filter: brightness(103%);
background-color: rgba(51, 185, 176, 0.2);
}