#info{
    background-color: var(--principal);
}

.btn-acento{
    color: var(--principal-hover);
}

.imgMax{
    height: 257px;
    padding: 1rem;
}

  /* Efecto tarjetas */             
.grow{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.grow:hover{
    transform: scale3d(1.1, 1.1, 0.3);
        -webkit-transform: scale3d(1.1, 1.1, 0.3);
        -moz-transform: scale3d(1.1, 1.1, 0.3);
}
              