#info{
    background-color: var(--principal);
}

.btn-acento{
    color: var(--principal-hover);
}

.imgMax{
    height: 257px;
    padding: 1rem;
}

  /* Efecto tarjetas */             
.transUp{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.transUp:hover{
    transform: translatey(-20px);
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
}
              