/* Parametros principales de nav-item */
.navbar-nav .nav-link {
  cursor: pointer;
  color: var(--primary-600);
  font-size: 1.2rem;
  font-weight: bold;
}

/* Animacion subrayado texto de nav-item */
.navbar-light .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: var(--principal);
}
.aUnL::after {
  content: "";
  display: block;
  height: 1.7px;
  background-color: var(--principal);
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.2s;
}
.aUnL:hover::after {
  transform: scale(1.05, 1);
}

/* configuracion general navbar */
nav {
  background-color: var(--secundario);
}

/* Boton entrar al metaverso */

#btnEntrar {
  background-color: var(--acento);

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secundario);
}

#btnEntrar:hover {
  background-color: var(--acento-hover);
  color: var(--secundario);
}

@media (max-width: 1140px) {
  .aUnL::after {
    content: "";
    display: block;
    height: 0;
    background-color: var(--principal);
    transform: none;
    transition: none;
  }
}
